<div>
  <div><%= event.name %></h1><%= image_tag("google_cal") %><button class="white_font">Register</button></div>
  <h3 class="white_font">Description</h3>
  <p class="white_font"><%= event.description %></p>
</div>
